* {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  width: 100vw;
}

.calculator {
  margin: auto;
  position: relative;
  top: 25%;
  border: 1px solid black;
  width: 25vw;
  height: 60vh;
}

.result {
  height: 30%;
  text-align: right;
  font-size: 1.8em;
}

.result #operate {
  height: 66%;
}

.result #result {
  height: 33%;
  color: dimgray
}

.button {
  height: 70%;
}

button {
  width: 25%;
  min-height: 20%;
  float: left;

  font-size: 1em;
  font-weight: 600;
}